/*-----------------------------------------------ESPECIAL DEL MES TORTA------------------------------------------*/
.especial-torta{
    
    width: 100%;
    padding: 8% 10%;
    margin:0;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.text-torta{
    width: 50%;
    margin: 0px 10% 0 0;
    h3{
        display: inline-block;
        color: $azul;
        padding: 5px 15px;
        border-left: 4px solid $azul;
        text-transform: uppercase;
    }
    p{
        font-size: 15px;
        margin: 5% 0;
        text-align: justify;

    }
    li{
        font-style: italic;
        font-weight: 400;
    }
.redes{
    li i{
        margin: 0 5px;
        color: $plomolight;
    }
    li i:hover{
        color: $celeste;
        transition:.5s;
    }
}
.torta{
    width: 100%;
    
}

}


